/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: "Inter-Variable";
    --accent-font: "PressStart2P";
    --title-font-weight: 700;
    --card-font-weight: 400;
    --outline-color: #fff;
    --heart-fill-color: #f00;
    --heart-frame-color: #000;
    --transition: 0.3s ease;
    --border-black: 2px solid #000;
    --bg-white: #fff;
    --fill-button-color: #000;
    --white-button-text: #fff;
    --link-frame-color: #000;
    --border-color: #000;
    --font-weight: 400;
}
